/* * {
	outline: red solid 1px;
} */
body {
	color: #2d3c49;
}

hr {
	border-top: 3px solid #7d97ad;
}

/* Header */
.c-logo {
	margin-top: 20px;
}

.c-title {
	font-family: Lato, sans-serif;
}

.c-name {
	font-size: 40px;
	font-weight: 100;
}

/* Content */
.c-featured-work-title {
	color: #7d97ad;
}

.c-featured-work-title, .c-work-div, .modal-content {
	font-family: Montserrat, sans-serif;
}

.c-img-featured-work {
	cursor: help;
}

.c-image-go {
	margin: 12.5px auto;
}

.c-go-title {
	margin-top: 30px;
}

.c-work-title, .modal-title {
	font-size: 28px;
}

.c-work-div {
	margin-bottom: 20px;
}

/* Modals */
.c-modal-description {
	margin-top: 10px;
}

/* Queries */
@media screen and (max-width: 320px) {
	.c-name {
		font-size: 26px;
	}
	.c-motto {
		font-size: 13px;
	}
	.c-featured-work-title {
		font-size: 20px;
	}
	.c-work-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 767px) {
	.c-featured-work-title {
		text-align: center;
	}
}

@media screen and (min-width: 992px) {
	.container-fluid {
		width: 992px;
		margin: auto;
	}
}