/* * {
	outline: red solid 1px;
} */
body {
	color: #2d3c49;
}

hr {
	border-top: 3px solid #7d97ad;
}

._logo {
	margin-top: 20px;
}

.title {
	font-family: Lato, sans-serif;
}

._name {
	font-size: 40px;
	font-weight: 100;
}

._featured-work-title {
	color: #7d97ad;
}

._featured-work-title, ._work-div, .modal-content {
	font-family: Montserrat, sans-serif;
}

._img-featured-work {
	cursor: help;
}

._work-title, .modal-title{
	font-size: 28px;
}

._work-div {
	margin-bottom: 20px;
}

._modal-description {
	margin-top: 10px;
}

@media screen and (max-width: 320px) {
	._name {
		font-size: 26px;
	}
	._motto {
		font-size: 13px;
	}
	._featured-work-title {
		font-size: 20px;
	}
	._work-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 767px) {
	._featured-work-title {
		text-align: center;
		margin-top: 0;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 992px;
		margin: auto;
	}	
}