* {
	outline: red solid 1px;
}

body {
	padding-top: 50px;
	font-family: Lato, sans-serif;
}

._img-featured-work {
	cursor: help;
}

._modal-description {
	margin-top: 10px;
}

._work-div {
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	._featured-work-title {
		text-align: center;
		margin-top: 0;
	}
}