* {
	outline: red solid 1px;
}
body {
	font-family: Lato, sans-serif;
}

._logo{
	margin-top: 20px;
}

@media screen and (max-width: 320px) {
	._name {
		font-size: 26px;
	}
	._motto {
		font-size: 13px;
	}
	._featured-work {
		font-size: 20px;
	}
	._work-title {
		font-size: 17px;
	}
}

@media screen and (max-width: 768px) {
	._featured-work {
		text-align: center;
	}
}

